body {
    padding: 50px;

    font-family: 'source-sans-pro', sans-serif;
    font-size: 14px;
    font-weight: 400;

    background-color: rgb(26, 33, 41);
    color: rgb(57, 80, 99);
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 224px;
    float: left;
    background-color: rgb(253, 253, 253);
}

.body {
    width: 800px;
    float: right;
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 50px;

    background-color: rgb(253, 253, 253);
}

.body p {
    margin: 16px 0;
    padding: 0 18px;
}

.body ul, ol {
    padding: 0 18px 0 50px;
    margin: 16px 0;
}

.header-link-section {
/*    margin: 24px 12px 12px 12px;*/
    margin: 12px;
}

.header-link {
/*    margin: 8px 0;*/
/*    display: inline-block;*/
}

.header-image {
/*    display: inline-block;*/
    margin: 12px;
    background-image: url("/header.png");
    background-size: cover;
    width: 200px;
    height: 200px;
}

.post-header {
    margin: 0 0 12px 0;
    background-color: rgb(226, 233, 240);
    padding: 12px 18px 8px 18px;
}

.post-header a {
    color: rgb(57, 80, 99);
/*    padding: 0;*/
    padding: 1px 4px;
    margin: -1px -4px;
/*    background-color: rgb(167, 185, 204);*/
/*    background-color: rgb(197, 213, 227);*/
/*    background-color: rgb(226, 233, 240);*/
    background-color: rgb(210, 222, 234);
}

.post-header a:hover {
    color: rgb(167, 185, 204);
    background-color: rgb(57, 80, 99);

/*    color: rgb(226, 233, 240);*/
}

.post {
    margin-bottom: 24px;
}

.date {
    font-size: 13px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
    margin: 0 0 2px 0;
}

h3 {
    background-color: rgb(226, 233, 240);
    font-size: 18px;
    margin: 12px 0;
    padding: 8px 18px;
}

h3 code {
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    text-decoration: none;
    box-decoration-break: clone;
    padding: 2px 3px;
    color: rgb(49, 147, 198);
    background-color: rgb(235, 248, 255);
}

a:hover {
    background-color: rgb(210, 240, 255);
}

code {
    padding: 0 3px;
    box-decoration-break: clone;
}

pre {
    padding: 8px;
    margin: 12px;
    overflow-x: auto;
}

code, pre {
    font-family: 'source-code-pro', monospace;
    font-weight: 400;
    font-size: 12px;
    background-color: rgb(226, 233, 240);
    color: rgb(57, 80, 99);
}

a code {
    color: rgb(49, 147, 198);
    background-color: rgb(207, 238, 255);
}

@media print, screen and (max-width: 1260px) {
    .wrapper {
        width: 800px;
    }

    .body {
        width: 500px;
    }
}

@media print, screen and (max-width: 960px) {
    .wrapper {
        width: auto;
        margin: 0;
    }

    .body {
        width: auto;
        margin: 0;
    }

    .header, .body {
        float: none;
        position: static;
        width: auto;
    }

    .header {
        margin-bottom: 24px;
    }

    .header-link-section {
/*        padding: 0;*/
/*        margin: 2px 10px 8px 0;*/
    }

    p.header-link {
        display: inline-block;
        margin-right: 2px;
    }

    .header-image {
        display: inline-block;
        margin: 12px;
        width: 100px;
        height: 100px;
    }
}

@media print, screen and (max-width: 720px) {
    .body {
        word-wrap: break-word;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        background-color: #fff;
        color: #000;
    }
}

/*
#header {
    background-color: rgb(167, 185, 204);
    padding: 12px;
}

#subheader, #footer {
    background-color: rgb(226, 233, 240);
    padding: 12px;
}

#header a:hover {
    color: rgb(167, 185, 204);
    background-color: rgb(57, 80, 99);
}

#subheader a:hover, #footer a:hover {
    color: rgb(226, 233, 240);
    background-color: rgb(57, 80, 99);
}
*/