<div class="heading">games</div>
<div class="media">
    <div class="media-thumbnail"><a class="thumbnail" href="https://glowcoil.itch.io/fire-theft"><img class="thumbnail" src="/fire-theft.png" alt="Fire Theft"></a></div>
    <div class="media-description">
        <p><span class="date">Fire Theft</span></p>
        <p>A point-and-click adventure made in collaboration with Matt Starsoneck for <a class="link" href="http://www.antholojam.com/">Antholojam</a>.</p>
    </div>
</div>

<div class="heading">music</div>
<div class="media">
    <div class="media-thumbnail"><a class="thumbnail" href="https://asterisme.bandcamp.com"><img class="thumbnail" src="/asterisme-terroir.jpg" alt="ASTÉRISME - TERROIR"></a></div>
    <div class="media-description">
        <p><span class="date">ASTÉRISME - TERROIR</span></p>
        <p></p>
    </div>
</div>